*{
    font-family: 'Inclusive sans';
}

button {
  transition: all 300ms ease;
}

button:hover {
    background-color: white;
    color: #FCB0B3;
    text-decoration: none;
    text-underline-offset: 1rem;
    text-decoration-color: none;
    border-color: #FCB0B3;
  }

html {
    scroll-behavior: smooth;
    background-color: #F1DEDE;
  }

h1{
    text-align: center;
    font-size: 50px;
    font-weight: 300;
}

#countlabel{
    text-align: center;
    font-size: 40px;
    
}

#a, #b{
    display: block;
    margin: auto;
    font-size: 35px;
    text-align: center;
    border-radius: 30px;
    width: 125px;
    padding: 10px;
}

#container{
    text-align: center;
    padding: 30px;
}

button{
    display:inline-block;
    margin: auto;
    font-size: 35px;
    width: 70px;
    border-radius: 30px;
    width: 50px;
}

#avs{
    padding: 10px;
    border-radius: 30px;
    border: 2px solid black;
    display: inline-block;
    margin: 15px;
    background-color: white;
}